.username{
    text-decoration: none;
    color: black;
}

.username:hover{
    text-decoration: underline black;
    color: black;
}

.actions{
    text-decoration: none;
}

.red{
    color: red;
}

.postComment{
    border-top: 0.1rem solid #e9ecef; 
}