<%- layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/edit.css">

<div class="text-center">
    <form action="/profile/editBio?_method=PATCH" method="POST">
        <h1 class="bold">Edit Bio</h1>
        <div class="d-flex align-items-center justify-content-center mt-4">
            <label class="bold pe-2" for="bio">Bio</label>
            <textarea class="form-control" name="user[bio]" id="bio" required><%= currentUser.bio %></textarea>
        </div>

        <button class="btn btn-primary mt-4">Submit</button>
    </form>
</div>