<%- layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/listUsers.css">

<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title bold">Users Liked</h5>
            <div class="overflow-scroll">
                <ul class="list-group list-group-flush">
                    <% for(let userLiked of usersLiked){ %>
                    <li class="list-group-item ps-1">
                        <% if(!userLiked.profilePhoto){ %>
                        <img class="navbarPfp"
                            src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg">
                        <% } else { %>
                        <img src="<%= userLiked.profilePhoto.url %>" alt="" class="navbarPfp">
                        <% } %>
                        <a href="/profile/<%= userLiked.username %>" class="username">
                            <span class="bold"><%= userLiked.username %></span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>